@import url("https://fonts.googleapis.com/css2?family=Charis+SIL&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charis+SIL&family=Libre+Franklin:wght@300;400&display=swap");

:root {
  --primary-bg-color: #bf5700;
  --text-color: white;
  --link-hover-opacity: 0.8;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Libre Franklin", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

footer {
  background-color: var(--primary-bg-color);
  padding: 50px 0;
  text-align: center;
  font-size: 1.25rem;
  font-family: "Libre Franklin", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.content-container {
  flex: 1;
  margin: 2rem auto;
  max-width: 1100px;
  text-align: left;
  padding: 0 1rem;
  padding-bottom: 8rem;
}

.content-container h1 {
  font-size: 1.625rem;
}

.content-container h2 {
  font-size: 1.25rem;
}

.content-container p {
  font-size: 1rem;
}

.content-container a {
  text-decoration: none;
}

.content-container a:hover {
  color: inherit;
}

img {
  display: block;
  margin: auto;
  padding: 0.625rem;
  max-width: 100%;
  height: auto;
}

table {
  margin: 0 auto;
}

figcaption {
  text-align: center;
  padding-top: 1rem;
}

.documentation-links,
.donor-links,
.research-links li {
  margin-bottom: 0.625rem;
}

.documentation-links,
.donor-links,
.research-links a {
  text-decoration: none;
}

.documentation-links,
.donor-links,
.research-links a:hover {
  opacity: var(--link-hover-opacity);
}

header h1 {
  font-size: 1.6rem;
  padding-top: 1.1rem;
  text-decoration: none;
  color: var(--text-color);
  transition: opacity 0.2s;
}

header {
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  width: 100%;
  text-align: center;
  height: auto;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1150px;
  margin: 0 auto;
}

.logo-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

.header-logo {
  max-width: 300px;
  height: auto;
  padding: 0 1.4rem;
}

.title-container {
  justify-content: center;
  text-align: left;
  padding: 1.3rem 1.4rem;
  font-family: "Libre Franklin", sans-serif;
}

.title-container h1,
.title-container h3 {
  margin: 0;
  word-wrap: break-word;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1150px;
  padding-bottom: 0.5rem;
  margin: 0 auto;
}

nav {
  width: 100%;
  background-color: var(--primary-bg-color);
  padding: 10px 0;
  display: flex;
  justify-content: center;
  font-family: "Libre Franklin", sans-serif;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

nav a:hover,
nav a:focus,
footer a:hover,
footer a:focus {
  opacity: var(--link-hover-opacity);
  transition: color 0.3s ease;
}

nav ul li a.active {
  opacity: var(--link-hover-opacity);
}

.page-title {
  text-align: center;
  margin-bottom: 2rem;
}

.section {
  margin-bottom: 3rem;
}

.section-title {
  margin-bottom: 1rem;
  color: #333;
  font-size: 1.5em;
}

.content-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.text-block {
  flex: 1;
  line-height: 1.6;
}

.text-block li {
  margin-bottom: 10px; 
}

.text-block p, .text-block ol, .text-block ul {
  margin-bottom: 20px;
}

.image-container {
  padding: 0;
  justify-content: center;
  align-items: center;
}


.image-container img {
  padding: 0;
  max-height: 650px;
  max-width: 100%;
  width: auto;
  height: auto;
  margin: auto;
}

.background-flex {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
}

.text-content {
  flex: 1; 
}

.section-image {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .content-flex {
    flex-direction: column;
  }
}

@media screen and (max-width: 750px) {
  .logo-title-container {
    flex-direction: column;
  }
  header h1 {
    font-size: 1.2rem;
  }
  .header-logo {
    max-width: 200px;
  }
  header {
    height: auto;
  }
  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }
  nav ul li {
    width: 100%;
    margin: 5px 0;
    display: block;
    text-align: center;
  }
}
